<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">User Group Manager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView Context="authContext">
            <Authorized>
                <!--Normarl User -->
                 <div class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                 </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        View Users
                    </NavLink>
                </div>
            
                <!-- Admin-->
                <AuthorizeView Policy="CanManageUsers">
                    <li class="nav-item px-3" style="font-weight: bold; margin-top: 15px; color: #d7d7d7;">
                        Admin Console
                    </li>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Admin/Approvals">
                            User Approvals
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/groups">
                            Manage Groups
                        </NavLink>
                    </div>
                </AuthorizeView>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>